.cell {
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: black;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}

.cell .textInfo {
  display: inline;
}

#almostText {
  margin: 0px;
  float: left;
}

#almostArrow2 {
  margin: 0px;
  position: absolute;
  top: 20%;
  right: 0%;
}

#almostArrow4 {
  margin: 0px;
  position: absolute;
  top: 20%;
  right: 12%;
}

#almostArrow5 {
  margin: 0px;
  position: absolute;
  top: 20%;
  right: 4%;
}

#empty {
  border: none;
}

#big {
  width: 30%;
}

#bigc {
  width: 30%;
  background-color: lightgreen;
}

#bigh {
  margin: 6px;
  height: 45%;
  width: 30%;
  font-size: 14px;
  font-weight: bolder;
  color: #fb4f14;
  border: none;
  border-bottom: 1px solid black;
  bottom: -35%;
  border-radius: 0px;
}

#small {
  width: 10%;
}

#smallc {
  width: 10%;
  background-color: lightgreen;
}

#smalla {
  width: 10%;
  background-color: yellow;
}

#smallh {
  margin: 6px;
  height: 45%;
  width: 10%;
  font-size: 14px;
  font-weight: bolder;
  border: none;
  color: #fb4f14;
  border-bottom: 1px solid black;
  bottom: -35%;
  border-radius: 0px;
}
