#helpPopup {
  height: 400px;
  width: 700px;
  text-align: left;
}

.helpText {
  position: relative;
  top: 2%;
  left: 3%;
  width: 600px;
  font-size: 18px;
  float: left;
}

.helpText li {
  padding: 5px;
}

#green {
  background-color: lightgreen;
}

#yellow {
  background-color: yellow;
}
