.searchBox {
  position: absolute;
  top: 17%;
}

.searchInput {
  margin-top: 15px;
  display: flex;
}

.searchInputText {
  background-color: white;
  border: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: Verdana;
  font-size: 18px;
  color: #fb4f14;
  padding: 10px;
  height: 30px;
  width: 400px;
}

#active {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#inactive {
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.searchResult {
  border: 2px solid black;
  border-top: none;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#1 {
  height: 50px;
}

#2 {
  height: 100px;
}

#3 {
  height: 150px;
}

#4 {
  height: 200px;
}

.searchResult .dataItem {
  height: 50px;
  display: flex;
  color: #fb4f14;
  cursor: pointer;
  background-color: white;
}

#itemSelected {
  background-color: #fcd299;
}

.searchResult div:hover {
  background-color: #fcd299;
}

.dataItem p {
  margin-left: 10px;
}
