.settings {
  position: absolute;
  height: 400px;
  width: 350px;
  top: 28%;
  background-color: #fffaf0;
  border: 2px solid black;
}

.newPlayerButton {
  position: absolute;
  height: 35px;
  width: 123px;
  top: 2.5%;
  left: 3%;
  border: 2px solid black;
  text-align: left;
  background-color: white;
  color: #fb4f14;
}

.newPlayerButton:hover {
  background-color: #fcd299;
}

.newPlayerButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 5%;
}

.resetBoardButton {
  position: absolute;
  height: 35px;
  width: 135px;
  top: 2.5%;
  left: 42%;
  border: 2px solid black;
  text-align: left;
  background-color: white;
  color: #fb4f14;
}

.resetBoardButton:hover {
  background-color: #fcd299;
}

.resetBoardButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 5%;
}

.eraDropdown {
  position: absolute;
  top: 15%;
  left: 3%;
  height: 250px;
  width: 225px;
  text-align: left;
  cursor: pointer;
  color: #fb4f14;
}

.eraDropdownButton {
  height: 14%;
  width: 100%;
  border: none;
  border: 2px solid black;
  background-color: white;
}

.eraDropdownButton:hover {
  background-color: #fcd299;
}

.eraDropdownButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 3%;
}

.eraDropdownContent {
  height: 86%;
  width: 100%;
  border: 2px solid black;
  border-top: none;
  background-color: white;
}

.eraDropdownItem {
  height: 16.67%;
  width: 100%;
  font-size: 14px;
}

.eraDropdownItem p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 4%;
}

.eraDropdownItem:hover {
  background-color: #fcd299;
}
