#settingsPopup {
  height: 125px;
  width: 365px;
}

#settingsExit {
  right: 3%;
  top: 12%;
}

.newPlayerButton {
  position: absolute;
  height: 35px;
  width: 140px;
  top: 8%;
  left: 3%;
  border: 2px solid black;
  text-align: left;
  background-color: #fb4f14;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
}

.newPlayerButton:hover {
  background-color: #fcd299;
}

.newPlayerButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 5%;
}

.resetBoardButton {
  position: absolute;
  height: 35px;
  width: 147px;
  top: 8%;
  left: 45%;
  border: 2px solid black;
  text-align: left;
  background-color: #fb4f14;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
}

.resetBoardButton:hover {
  background-color: #fcd299;
}

.resetBoardButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 5%;
}

.eraDropdown {
  position: absolute;
  top: 43%;
  left: 3%;
  height: 250px;
  width: 274px;
  text-align: left;
  cursor: pointer;
  color: #fb4f14;
  display: inline-block;
}

.eraDropdownLabel {
  float: left;
  font-weight: bolder;
}

.eraDropdownButton {
  position: absolute;
  top: 3%;
  left: 54%;
  height: 14%;
  width: 43%;
  border: none;
  border: 2px solid black;
  background-color: white;
}

.eraDropdownButton:hover {
  background-color: #fcd299;
}

.eraDropdownButton p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 7%;
}

.eraDropdownContent {
  position: absolute;
  top: 18.6%;
  left: 54%;
  height: 86%;
  width: 43%;
  border: 2px solid black;
  border-top: none;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eraDropdownItem {
  height: 16.67%;
  width: 100%;
  font-size: 14px;
}

#lastItem {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eraDropdownItem p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 8%;
}

.eraDropdownItem:hover {
  background-color: #fcd299;
}

.dropdownArrowIcon {
  position: absolute;
  top: 6%;
  left: 99%;
}
